
@{
    ViewBag.Title = "Ups. Coś poszło nie tak";
}
<div class="text-center" id="error-box">
    @ViewBag.ErrorCode
</div>


<style>
    #error-box {
        height: 200px;
        line-height: 200px;
        vertical-align: middle;
        color: rgb(0,44,105);
        font-size: 102px;
        font-weight: 800;
    }
</style>