.students-list > header {
    width: 100%;
    padding: 10px 0 10px 20px;
    background-color: rgb(0,44,105);
    color: #fff;
    font-size: 22px;    
}

.students-list {
    padding-bottom: 20px;
    font-size: 15px;
}

.main-table {
    border: 1px #ccc solid;
    font-size: 13px;
}
.points
{ 
    width: 20%;
}
.position {
    width: 10%;
}
.firstname {
    width: 40%;
}
.lastname {
    width: 30%;
}


